.container {
  display: flex;
}

.side-bar {
  width: 1000px;
}

.main {
  width: 100px;
}

@media all and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .side-bar {
    width: 100%;
  }

  .search {
    position: fixed;

    bottom: 0;
    width: 100%;
  }
}