.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
}

@media all and (max-width: 600px) {

  .search-bar {
    width: 100%;
    background-color: transparent;
    /* padding: 18px; */
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
  }

  .search-bar:hover {
    background-color: #ccc;
  }

  .search-bar-content {
    display: none;
    overflow: hidden;
  }
}